@model OrderDetailsViewModel

<table class="table">
    <tr>
        <th scope="col" class="align-middle text-center">#</th>
        <th scope="col" class="align-middle text-center">User</th>
        <th scope="col" class="align-middle text-center">Order Total price</th>
        <th scope="col" class="align-middle text-center">Address</th>
        <th scope="col" class="align-middle text-center">Full order</th>
        <th scope="col" class="align-middle text-center">Status</th>
    </tr>

    <tbody>
        <tr>
            <td scope="col" class="align-middle text-center">@Model.OrderId</td>
            <td scope="col" class="align-middle text-center">@Model.UserFullName</td>
            <td scope="col" class="align-middle text-center">@Model.TotalPrice MKD</td>
            <td scope="col" class="align-middle text-center">@Model.Address</td>
            <td scope="col" class="align-middle text-center">@String.Join(", ", Model.Burgers)</td>
            <td scope="col" class="align-middle text-center">@(Model.status ? "delivered" : "not delivered")</td>
        </tr>

    </tbody>
</table>

<a class="btn btn-primary" asp-action="AllOrders">Back</a>